# 项目配置
API_V1_STR=/api/v1
PROJECT_NAME=FastAPI Template
HOST=127.0.0.1
PORT=8000
WORKERS=1

# 项目路径
PROJECT_PATH=

# 跨域配置
# allow_origins=["*"]  # JSON格式的数组
# allow_credentials=True
# allow_methods=["GET", "POST", "PUT", "DELETE"]  # JSON格式的数组
# allow_headers=["*"]  # JSON格式的数组

# 日志配置
LOG_NAME=app
LOG_LEVEL=20
LOG_WHEN=D
LOG_BACKUP_COUNT=5

# 数据库配置(按需启用)
# DB_URL=  # 数据库连接URL
# DB_TEST_URL=

# Redis配置(按需启用)
# REDIS_URL=

# Milvus配置(按需启用)
USE_MILVUS=False
MILVUS_HOST=127.0.0.1
MILVUS_PORT=9530
MILVUS_COLLECTION_NAME=test
VECTOR_DIMENSION=768
METRIC_TYPE=L2