# 项目配置
API_V1_STR=/api/v1
PROJECT_NAME=FastAPI Template
HOST=127.0.0.1
PORT=8000
WORKERS=1

# 数据库配置
USE_DATABASE=false
# SQLite 配置示例
# DB_URL=sqlite:///./test.db
# MySQL 配置示例
# DB_URL=mysql+pymysql://username:password@localhost:3306/dbname

# Milvus 配置
USE_MILVUS=false
MILVUS_HOST=127.0.0.1
MILVUS_PORT=9530
MILVUS_COLLECTION_NAME=test
VECTOR_DIMENSION=768
METRIC_TYPE=L2

# 日志配置
LOG_NAME=app
LOG_LEVEL=20
LOG_WHEN=D
LOG_BACKUP_COUNT=5
